body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
}

img {
    width: 50%;
    border-radius: 15px;
}

img:hover {
    filter: sepia(100);
    scale: 0.6;
    transition: 2s;
}

.skin-h1 {
    color: purple;
    text-align: center;
    font-size: 50px;
}